html {
    font-family: "Arial";
}

/* CSS Selectors */
input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
}

textarea {
    height: 200px;
}
 body {
                background-color: aliceblue;
 }
#message {
    color: crimson;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.page {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page h2 {
    margin-top: 0;
}

.page p {
    margin-bottom: 10px;
}

.page a {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.page a:hover {
    background-color: #2980b9;
}


.flex-container {
  display: flex;
  background-color: aquamarine;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 3px;
  padding: 5px;
  font-size: 15px;
}
