html {
    font-family: "Arial";
    background-color: aliceblue;
}


/* CSS Selectors */
input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-bottom: 20px;
}

label, input, textarea {
    display: block;
}

textarea {
    height: 200px;
}
.table-contents{
    background-color: aliceblue;
    border-spacing: 0;
}
.table-contents  td{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
    margin: 0;
    padding: 5px;
}
table.table-contents tr td:last-child {
     border-right-width: 1px;
}
table.table-contents tr:last-child td{
     border-bottom-width: 1px;
}



div.div-contents > div > div {
    float: left;
    width: 200px;
    padding: 5px;
}

div.div-contents > div > div:nth-child(3){
    width: 60px;
}



div.div-contents > div > div {
    background-color: aquamarine;
    border-color: rgb(128, 128, 128);
    border-width: 1px;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
}

div.div-contents > div > div:last-child{
    border-right-width: 1px;
}

div.div-contents > div:last-child > div {
    border-bottom-width: 1px;
}

div.div-contents > div.div-header{
    font-weight: bold;
}

div.div-contents > div{
    clear: both;
}

a.button{
    clear: both;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    background-color: crimson;
    color: #ffffff;
    border: 2px solid crimson;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#title {
    font-weight: bold;
    font-size: 40px;
}

.message {
    color: crimson;
}

#Checkboxes {
    display: flex;
    clear: both;

}